@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent;


@{
    var itemsPerPage = 3;
    var pageNumber = 1;

    if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
        pageNumber = 1;

    var selection = Umbraco?.Content(Guid.Parse("a066a701-8109-4f6a-9c80-f301ac56bd1c"))?
        .ChildrenOfType("newsItemPage")?
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate).ToList();


    var totalItems = selection?.Count() ?? 0;
    var pagedItems = selection?.Skip((pageNumber - 1) * itemsPerPage).Take(itemsPerPage);

}


<section class="article-section">
    <div class="container">
        <div class="upper-texts">
            <p class="red-text">Article & News</p>
            <div class="btn-flex">
                <h1 class="team-title">Get Every Single Articles & News</h1>
                <a class="btn-transparent" href="/news">Browse Articles <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
        </div>
        <div class="article-carusel">

            @if (pagedItems != null)
            {
                @foreach (var item in pagedItems!)
                {
                    var url = item.Url();
                    var date = item.CreateDate;
                    var image = item.Value<IPublishedContent>("newsImage");
                    var categories = item.Value("newsCategory");
                    var title = item.Name();
                    var description = item.Value("newsPreamble");


                    <a href="@url" class="article-box">
                        <img src="@image?.Url()" alt="">
                        <p class="article-name">@categories</p>
                        <h3 class="article-title">@title</h3>
                        <p class="article-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                        <div class="date-month">
                            <h5 class="date">@date.ToString("dd")</h5>
                            <p class="month">@date.ToString("MMM")</p>
                        </div>
                    </a>
                }
            }

        </div>
        <div class="carousel-dots" id="pagination-dots">
            
            @for (int i = 1; i <= Math.Ceiling((decimal)totalItems / itemsPerPage); i++ )
            {
                if (i == pageNumber)
                {
                    <a href="#" class="dot active"><i class="fa-duotone fa-circle">@i</i></a>
                }
                else
                {
                    <a href="?page=@i" class="dot"><i class="fa-duotone fa-circle">@i</i></a>
                }
            }
            
        </div>
    </div>
</section>


