@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

<section class="choose-us-section">
    <div class="container">
        <div class="left">
            <p class="red-text">@Model.Value("chooseUsSectionTitle")</p>
            <h1 class="choose-us-title">@Model.Value("chooseUsSectionHeading")</h1>
            @Html.GetBlockListHtml(Model.ChooseUs)
        </div>
        <div class="right">
            @{
                var chooseUsSectionImage = Model.Value<MediaWithCrops>("chooseUsSectionImage");
                if (chooseUsSectionImage != null)
                {
                    <img class="image" src="@chooseUsSectionImage.MediaUrl()" alt="@Model.Value("chooseUsSectionImage")">
                }
            }
        </div>
    </div>
    <div class="background-box"></div>
</section>