@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using Umbraco.Cms.Core.Models.PublishedContent;


@{
    var itemsPerPage = 4;
    var pageNumber = 1;

    if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
        pageNumber = 1;

	var selection = Umbraco.Content(Guid.Parse("76f47eb5-27de-4852-82f6-8de820915c62"))
    .ChildrenOfType("projectItemPage")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);

    var totalItems = selection?.Count() ?? 0;
    var pagedItems = selection?.Skip((pageNumber - 1) * itemsPerPage).Take(itemsPerPage);
}

<section class="projects-section">
    <div class="container">
        <div class="project-text">
            <p class="red-text">@Model.Value("projectTitle")</p>
            <h1 class="project-title">@Model.Value("projectHeading")</h1>
        </div>
        <div class="project-grid">
            
                
            @if (pagedItems != null)
            {
                @foreach (var item in pagedItems!)
                {
                    var url = item.Url();
                    var image = item.Value<IPublishedContent>("projectImage");
                    var title = item.Name();
                    var description = item.Value("newsPreamble");

                <div class="grid-box">
                    <img src="@image.Url()" alt="">
                    <h3 class="project-text">@title</h3>
                    <div class="line"></div>
                    <div class="read-more">
                        <a href="@url">Read More <i class="fa-regular fa-arrow-up-right"></i></a>
                    </div> 
                </div>
                }
            }
           
            
        </div>
        <div class="project-button">
            <a class="btn-dark" href="@Model.Value("serviceFeaturesButtonUrl")">@Model.Value("projectButtonText") <i class="fa-regular fa-arrow-up-right"></i></a>
        </div>
    </div>
</section>